/**TM**/
.tape-item {
  fill: #EEE;
  font-size: 20px !important;
}

.tape {
  stroke: #000;
  stroke-width: 2;
}

/**SIMULATION-CONTAINER-ITEM**/
.sim-buttons {
  text-align: center;
  margin-bottom: 10px; }

.animated-currenttapeitem-svg {
  fill: $orangeColor; }

.animated-acceptedtapeitem-svg {
  fill: $greenColor;
}

.animated-not-acceptedtapeitem-svg {
  fill: $redColor;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blueColor;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $blueColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blueColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tapeStart {
  margin-top: 10px;
  margin-bottom: 30px;
}

.box1, .box2, .box3, .box4{
  float: left;
  margin-right: 3%;
}

.box1 {
  margin-bottom: 5px;
}
