//others
.animated-currentstate {
  color: $animatedCurrentStateColor;
}

.animated-nextstate {
  color: $animatedNextStateColor;
}

.animated-accepted {
  color: $animatedAcceptedColor;
}

.animated-not-accepted {
  color: $animatedNotAcceptedColor;
}

.selectedForTransition {
  color: $animatedNextStateColor;
}

.selectedForTransition {
}

.state-text:hover {
}

.in-creation {
  stroke: $selectedColor;
}

//Transition
.transition {
  stroke: $transitionColor;
  cursor: context-menu;
}

.transition:hover {
  cursor: pointer;
}

.transition-line-selection {
  stroke-width: 7;
  stroke: $selectedColor;
  opacity: 1;
  visibility: hidden;
}
.transition-line-selection-arrow {
  stroke-width: 4.8;
  stroke: $selectedColor;
  opacity: 1;
  visibility: hidden;
}
.transition.active .transition-line-selection-arrow {
  visibility: visible;
}
.transition.active .transition-line-selection {
  visibility: visible;
}

.transition-line {
  stroke-width: $transitionWidth;
}

.transition-line-hover {
  stroke-width: $transitionWidth;
  stroke: $transitionHoverColor;
  opacity: 0;
}

//transition line fill for the startline
.transition-line.start-line {
  stroke: $transitionColor;
}

//animated transition for the simulation
.animated-transition .transition-line {
  stroke: $animatedTransitionColor;
  stroke-width: $animatedTransitionWidth;
}

.animated-transition-text {
  stroke: $animatedTransitionColor;
  fill: $animatedTransitionColor;
}

.hover-place-text {
    font-size: $pnStateFontSize;
    stroke-width:$stateFontStrokeWidth;
    fill:$stateFontColor;
    stroke: $animatedTransitionColor;
}

.hover-transition-text {
    font-size: $stateFontSize;
    stroke-width: $stateFontStrokeWidth;
    fill: $stateFontColor;
    stroke: yellow;
}

.animated-transition {
  color: $animatedTransitionColor;
}

.transition-text {
  stroke: none;
  font-size: 15px;
  text-anchor: middle;
}

/**SIMULATION-CONTAINER-ITEM**/
.sim-buttons {
  text-align: center;
  margin-bottom: 10px;
}

.sim-char-item {
  width: 33px;
  float: left;
  padding: 2px 6px;
  font-size: 15px;
  border: 1px solid $lightGreyColor;
  margin-right: 5px;
  margin-bottom:5px;
  text-align:center;
}
.sim-char-item.unknown-class{
  color:white;
}

/**
Slider
 */

.my-custom-slider.rzslider .rz-bar {
  background: $blueColor;
  height: 2px;
}
.my-custom-slider.rzslider .rz-selection {
  background: $blueColor;
}

.my-custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.my-custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.my-custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.my-custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: $orangeColor;
}

.my-custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.my-custom-slider.rzslider .rz-tick.rz-selected {
  background: $blueColor;
}