<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <button class="btn btn-default"
                    ui-sref="frontend.courses.display.questionsAndAnswers({courseUrl:vm.courseUrl})">
             {{'core.courses.backToAllQuestions' | translate }}
            </button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body panel-question-answers">
        <div class="question-answers-title">
            <h4>{{vm.data.title}}</h4>
        </div>
        <div class="question-answers-left">
           <div class="user-image">
               <i class="fa fa-user fa-3x" aria-hidden="true"></i>
           </div>
            {{vm.data.date | timeAgo}} {{'core.general.from' | translate}} {{vm.data.user.username}}
        </div>
        <div class="question-answers-content" ng-bind-html="vm.data.content"></div>
        <div>
        </div>

    </div>

</div>
</div>

<div class="panel panel-default" ng-repeat="answer in vm.data.answers">
    <div class="panel-body panel-question-answers">
        <div class="question-answers-left">
            <div class="user-image">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
            </div>
            {{answer.date | timeAgo}} {{'core.general.from' | translate}} {{answer.user.username}}
        </div>
        <div class="question-answers-content" ng-bind-html="answer.content"></div>
        <div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form name="inputform">
        <div class="form-group">
            <label>{{'core.general.comment' | translate}}</label>
            <ng-quill-editor ng-model="vm.answer.content"

                             toolbar="false" link-tooltip="true" image-tooltip="true"
                             toolbar-entries="font size bold list bullet italic underline strike align color background link image" >
            </ng-quill-editor>
            <!--<own-editor data="vm.answer.content" is-required="true" small-version="true"></own-editor>-->
        </div>
        <button class="btn btn-default" type="submit" ng-click="inputform.$valid &&  vm.createAnswer()">Create
            Comment</button>
        </form>
    </div>
</div>