<div class="panel panel-default" ng-show="vm.lesson && (vm.lesson.isPublished || vm.isAllowedToEdit())">
    <div class="panel-body">
        <div class="alert alert-info ng-hide" ng-show="!vm.lesson.isPublished && vm.isAllowedToEdit()">
            {{'core.courses.contentNotPublished' | translate}}
        </div>
        <div class="pull-right">
            <button class="btn btn-default"
                    ui-sref="frontend.courses.lessons.update.content({courseUrl:vm.courseUrl, lessonId:vm.lessonId})"
                    ng-if="vm.lesson.kind === 'content' && vm.isAllowedToEdit()">
                {{'core.general.edit' | translate}}
            </button>
            <button class="btn btn-default"
                    ui-sref="frontend.courses.lessons.update.quiz({courseUrl:vm.courseUrl, lessonId:vm.lessonId})"
                    ng-if="vm.lesson.kind === 'quiz' && vm.isAllowedToEdit()">
                {{'core.general.edit' | translate}}
            </button>
            <button class="btn btn-default" ui-sref="frontend.courses.display.content({courseUrl:vm.courseUrl})">
                {{'core.courses.backToContentOverview' | translate}}
            </button>
        </div>
        <div class="lesson-content">
            <div ng-if="vm.lesson.kind === 'content'">
                <div>
                    <h2>{{vm.lesson.position}}. {{getLocalized(vm.lesson.name)}}</h2>
                </div>
                <passed-lesson></passed-lesson>
                <div ng-bind-html="getLocalized(vm.lesson.data.content)">
                </div>
            </div>
            <div ng-if="vm.lesson.kind === 'quiz'">
                <div>
                    <h2>{{vm.lesson.position}}. {{getLocalized(vm.lesson.name)}}</h2>
                </div>
                <passed-lesson></passed-lesson>
                <div ng-bind-html="getLocalized(vm.lesson.data.question)">
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-repeat="answer in vm.lesson.data.answers">
                        <div class="radio abc-radio abc-radio-info radio-inline quiz-answer"
                             ng-class="{'quiz-right-answer':$index === vm.rightAnswerData.rightAnswerIndex}">
                            <input type="radio" id="answer-{{$index}}" value="{{$index}}" name="answers"
                                   ng-model="vm.lesson.data.selectedAnswer" ng-disabled="!vm.isLessonEditable">
                            <label for="answer-{{$index}}" ng-bind-html="getLocalized(answer)"> </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-default"
                        ng-click="vm.checkLessonAndGoToNextLesson()"
                        ng-if="!vm.failedLesson">
                    {{'core.courses.finishLesson' | translate}}
                </button>
                <button class="btn btn-default"
                        ng-click="vm.goToNextLesson()"
                        ng-if="vm.failedLesson">
                    {{'core.courses.goToNextLesson' | translate}}
                </button>
            </div>

        </div>
    </div>
    <div class="alert alert-warning" ng-show="!vm.lesson.isPublished && !vm.isAllowedToEdit()">
        {{'core.courses.accessToNotPublishedLesson' | translate}}
    </div>
</div>
