<div ng-if="vm.lesson.data.automaton.type === 'DFA'">
    <div ng-controller="DFALessonCtrl" ng-init="init(vm.lesson, vm)">
        <div ng-include="'/modules/courses/tools/tcs/automata/dfa/views/dfaLesson.html'"
             class="lesson"></div>
    </div>
</div>
<div ng-if="vm.lesson.data.automaton.type === 'NFA'">
    <div ng-controller="NFALessonCtrl" ng-init="init(vm.lesson, vm)">
        <div ng-include="'/modules/courses/tools/tcs/automata/nfa/views/nfaLesson.html'"
             class="lesson"></div>
    </div>
</div>
<div ng-if="vm.lesson.data.automaton.type === 'PDA'">
    <div ng-controller="PDALessonCtrl" ng-init="init(vm.lesson, vm)">
        <div ng-include="'/modules/courses/tools/tcs/automata/pda/views/pdaLesson.html'"
             class="lesson"></div>
    </div>
</div>
<div ng-if="vm.lesson.data.automaton.type === 'NPDA'">
    <div ng-controller="NPDALessonCtrl" ng-init="init(vm.lesson, vm)">
        <div ng-include="'/modules/courses/tools/tcs/automata/npda/views/npdaLesson.html'"
             class="lesson"></div>
    </div>
</div>