<div class="page-header" ng-if="!vm.update">
    <h1>Create Course</h1>
</div>
<div>
    <div class="lesys-selection">
            <span class="lesys-select" ng-repeat="language in vm.languages"
                  ng-class="{'selected':language===vm.selected}" ng-click="vm.selectLanguage(language)">
            {{language}}
        </span>
    </div>
    <form>
        <div id="{{language}}-select" ng-repeat="language in vm.languages" ng-if="vm.selected === language">
            <label for="translation-name">Name</label>

            <div class="input-group">
                <input type="text" class="form-control" id="translation-name" placeholder="Name"
                       ng-model="vm.name[language]">
                <span class="input-group-addon">{{language}}</span>
            </div>
            <label for="translation-description">Description</label>

            <div class="input-group">

                <textarea class="form-control" id="translation-description" placeholder="Description"
                          ng-model="vm.description[language]"></textarea>
                <span class="input-group-addon">{{language}}</span>

            </div>
        </div>
        <div class="form-group">
            <label for="translation-name">UrlName</label>
            <input type="text" class="form-control" id="translation-urlname" placeholder="Name"
                   ng-model="vm.urlName">
        </div>
        <button class="btn btn-default" ng-click="vm.createCourse()" ng-if="!vm._id">Create Course</button>
        <button class="btn btn-default" ng-click="vm.updateCourse()" ng-if="vm._id">Update Course</button>

    </form>
</div>