<div class="panel panel-default">
    <div class="panel-body">
        <course-lesson-create-header></course-lesson-create-header>
        <div class="row">
            <form name="inputform">
                <div class="col-sm-12">
                    <course-lesson-type-selection></course-lesson-type-selection>
                </div>
                <div class="col-sm-6">
                    <course-primary-language></course-primary-language>
                    <div class="form-group">
                        <label>{{'core.courses.lessonTitle' | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'core.courses.name' | translate}}"
                               ng-model="vm.data.name[vm.course.primaryLanguage]">
                    </div>
                    <div class="form-group">
                        <label>{{'core.courses.exercise' | translate}}</label>
                        <own-editor data="vm.data.data.question[vm.course.primaryLanguage]"
                                    is-required="true"></own-editor>
                    </div>

                </div>
                <div class="col-sm-6">
                    <course-language-selection></course-language-selection>
                    <div ng-repeat="language in vm.course.secondaryLanguages"
                         ng-show="vm.selectedLanguage === language">
                        <div class="form-group">
                            <label>{{'core.courses.lessonTitle' | translate}}</label>
                            <input type="text" class="form-control"
                                   placeholder="Name"
                                   ng-model="vm.data.question[language]">
                        </div>
                        <div class="form-group">
                            <label>{{'core.courses.exercise' | translate}}</label>
                            <own-editor data="vm.data.data.content[language]"></own-editor>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <div class="form-group">
                        <label>Automat</label>
                        <select class="form-control" ng-model="vm.data.data.automaton.type" required>
                            <option>DFA</option>
                            <option>NFA</option>
                            <option>PDA</option>
                            <option>NPDA</option>
                        </select>
                    </div>
                    <div class="lesys-selection">
                        <div>
                            <label>Aufgabenart</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body cursor-pointer"
                                         ng-class="{'panel-selected':vm.data.data.questionType === 1}"
                                         ng-click="vm.data.data.questionType = 1">
                                        <h4>Inputtest</h4>
                                        <div>Bei dem Inputtest muss der Benutzer einen Automaten erstellen, der
                                            die angegebenen Wörter akzeptiert
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body cursor-pointer"
                                         ng-class="{'panel-selected':vm.data.data.questionType === 2}"
                                         ng-click="vm.data.data.questionType = 2">
                                        <h4>Regulärer Ausdruck</h4>
                                        <div>
                                            Bei diesem Aufgabentyp wird dem Benutzer der Bulktest nicht angezeigt.
                                            Nur die Aufgabe wird gezeigt. Beispiel: Erstelle einen Automaten der den
                                            regulären Ausdruck a^nb^n akzeptiert.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.data.data.questionType === 1 || vm.data.data.questionType === 2">
                        <input type="text" ng-model="vm.data.data.automaton.automatonData.type"
                               value="{{vm.data.data.automaton.type}}"
                               ng-hide="true">

                        <div class="form-group">
                            <label>{{'core.general.accepted' | translate}} ({{'as.core.onePerLine' |
                                translate}})</label>
                            <textarea class="form-control"
                                      ng-model="vm.data.data.automaton.automatonData.hiddenAcceptedInputRaw"
                                      rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{{'core.general.rejected' | translate}} ({{'as.core.onePerLine' |
                                translate}})</label>
                            <textarea class="form-control"
                                      ng-model="vm.data.data.automaton.automatonData.hiddenRejectedInputRaw"
                                      rows="5"></textarea>
                        </div>
                    </div>
                    <div ng-show="vm.data.data.automaton.type === 'DFA'">
                        <div ng-show="vm.data.data.questionType === 3">
                            <div class="btn btn-default" button="button"
                                 ng-click="vm.openDFA()">
                                {{'core.general.edit' | translate}}
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.automatonType=== 'NFA'">
                        <div ng-show="vm.data.data.questionType === 3">
                            <div class="btn btn-default" button="button"
                                 ng-click="vm.openNFA()">
                                {{'core.general.edit' | translate}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <course-is-published></course-is-published>
                </div>
                <div class="col-sm-12">
                    <div class="pull-right">
                        <course-form-control-buttons></course-form-control-buttons>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>