<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <h3>
                {{'core.courses.createNotification' | translate}}
            </h3>
            <hr>
        </div>
        <div>
            <form name="inputform">
                <div class="form-group">
                    <label for="data-title">Titel</label>
                    <input type="text" class="form-control" id="data-title" placeholder="Title"
                           ng-model="vm.data.title" required>
                </div>
                <div class="form-group">
                    <label for="data-title">Inhalt</label>
                    <textarea id="notification-content" froala="vm.froalaOptions" ng-model="vm.data.content"></textarea>
                </div>
                <course-form-control-buttons></course-form-control-buttons>
            </form>
        </div>
    </div>
</div>