$blueColor:#429AD1;
$blueLightColor : lighten($blueColor,0.5);
$blueGreenColor :#02CE98;
$greenColor:#8AD863;
$orangeColor:#ED9461;
$redColor:#F9645E;
$redBrandColor:#F9645E;
$yellowColor:#FCEB6C;
$greyColor:#283030;
$lightGreyColor: #b5bebe;