<div class="page-header">
    <h1>ACL</h1>
</div>
<button type="button" class="btn btn-default" ng-click="vm.createRole()">Create Role</button>
<button type="button" class="btn btn-default" ng-click="vm.createRight()">Create Right</button>

<table class="table table-bordered" ng-cloak>
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="role in vm.roles">
            <span>{{role.name}}</span>
            <span role="button" class="glyphicon glyphicon-pencil"
                  ng-click="vm.editRole(role)"></span><br>
            <small>{{role.description}}</small>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in vm.hasRoleRight">
        <th ng-repeat="sub in data track by $index">
            <span ng-if="$index==0">
                <p>{{sub.name}}
                    <span role="button" class="glyphicon glyphicon-pencil"
                          ng-click="vm.editRight(sub)"></span>
                </p>
                <small>{{sub.description}}</small>

            </span>
            <span ng-if="$index!=0">
                <input type="checkbox" ng-checked="sub.state"
                       ng-click="vm.changeRoleRight(sub)">
            </span>
        </th>
    </tr>
    </tbody>
</table>
<div class="modal-demo">
    <script type="text/ng-template" id="roleTemplate.html">

    </script>
</div>