<div class="container-wrapper">
    <div class="title">{{"as.core.diagram" | translate}}</div>
    <div class="svg-controls">
        <div class="button-group">
            <zoom-tooltip></zoom-tooltip>
        </div>
        <div class="button-group">
            <menubutton icon="search-plus" action="statediagram.zoom.zoomIn()"
                        tttext="as.core.zoomIn">
            </menubutton>
            <menubutton icon="search-minus" action="statediagram.zoom.zoomOut()"
                        tttext="as.core.zoomOut">
            </menubutton>
        </div>
        <div class="button-group">
            <menubutton icon="plus-circle" action="statediagram.createState()"
                        ng-disabled="simulator.isInPlay"
                        tttext="as.core.addState">
            </menubutton> 
            <menubutton icon="plus-circle" action="statediagram.createTransitionPn()"
                        ng-disabled="simulator.isInPlay"
                        ng-show="automatonData.type === 'PN'"
                        tttext="as.petrinets.addTransition">
            </menubutton>
            <menubutton icon="long-arrow-right" action="statediagram.createTransition()"
                        ng-disabled="simulator.isInPlay"
                        tttext="as.core.addTransition">
            </menubutton>
            <menubutton icon="trash" action="core.resetAutomatonRequest()"
                        ng-disabled="simulator.isInPlay"
                        tttext="as.core.deleteAutomaton">
            </menubutton>
        </div>
    </div>
    <div id="diagram-container" class="container-wrapper diagram-container">
        <svg id="diagram-svg" class="noselect" xmlns="http://www.w3.org/2000/svg"
             style="font-family:'Roboto', sans-serif; font-weight:100">
            <svg-grid></svg-grid>
            <svg-definitions></svg-definitions>
            <svg-outer>
                <g id="transitions">
                    <svg-transition ng-repeat="data in transitions"
                                    transition-group="data"></svg-transition>
                </g>
                <svg-tmp-transition></svg-tmp-transition>

                <g id="states" ng-show="automatonData.type !== 'PN'">
                    <svg-state ng-repeat="state in states" state="state"></svg-state>
                </g>
                
                <g ng-repeat="state in states" ng-show="automatonData.type === 'PN'">
                    <svg-state ng-if="state.place" state="state"></svg-state>
                    <svg-transition-pn ng-if="!state.place" state="state"></svg-transition-pn>
                </g>

            </svg-outer>
            <g id="zoom"></g>
            <svg-pda-stack ng-show="automatonData.type=== 'PDA' || automatonData.type ==='NPDA'"></svg-pda-stack>
            <svg-tm-tape ng-show="automatonData.type === 'TM'"></svg-tm-tape>
        </svg>
        <context-menu></context-menu>
    </div>
</div>
