<div class="state-transition-function">
    <div class="title">{{"as.core.stateTransitionFunction" | translate}}</div>
    <div class="content">
        <div>
            <div class="input-group centered color-picker">
                <span class="input-group-addon color-display" style="background-color:{{vm.selectedColor}}"></span>
                <input type="text" class="form-control" ng-model="vm.selectedColor">
            </div>

            <div class="color-table">
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#FFFF00'"
                     style="background-color: #FFFF00">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#FFA500'"
                     style="background-color: #FFA500">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#FF0000'"
                     style="background-color: #FF0000">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#FF1493'"
                     style="background-color: #FF1493">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#800080'"
                     style="background-color: #800080">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#0066CC'"
                     style="background-color: #0066CC">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#00BFFF'"
                     style="background-color: #00BFFF">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#00FF00'"
                     style="background-color: #00FF00">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#006400'"
                     style="background-color: #006400">
                </div>
                <div class="pick-color"
                     ng-click="vm.selectedColor = '#000000'"
                     style="background-color: #000000">
                </div>
            </div>
        </div>

        <div class="rules">
                <canvas id="canvasRule" width="100px" height="100px"></canvas>
        </div>

        <!--<div style="clear: both;">
            <input type="checkbox" ng-model="vm.isSelectedAlive">

            <button class="btn btn-default" ng-click="vm.simulate()">simulate</button>
        </div>
        -->
    </div>
</div>