<button class="btn btn-primary" type="submit"
        ng-click="inputform.$valid && vm.create()"
        ng-if="vm.data._id === undefined"
        ng-disabled="">
    {{'core.general.save' | translate}}
</button>
<button class="btn btn-danger" type="submit"
        ng-click="inputform.$valid && vm.delete()"
        ng-if="vm.data._id !== undefined">
    {{'core.general.delete' | translate}}
</button>
<button class="btn btn-primary" type="submit"
        ng-click="inputform.$valid && vm.update()"
        ng-if="vm.data._id !== undefined">
    {{'core.general.save' | translate}}
</button>