<div class="remove-container full-wrapper">
    <!--<div class="flex-item header">-->
    <!--<app-menu>-->
    <!--<automaton-name></automaton-name>-->
    <!--<unsaved-changes></unsaved-changes>-->
    <!--</app-menu>-->
    <!--</div>-->
    <div class="flex-item  inner-wrapper">
        <div class="main main-wrapper">
            <div class="main-item layout-item container-wrapper">
                <!--<div class="cell-row" style="height:{{vm.cellSize}}"-->
                     <!--ng-repeat="row in vm.cellData">-->
                    <!--<tcs-cell ng-repeat="cell in row"></tcs-cell>-->
                <!--</div>-->
                <canvas id="cellular-canvas" width="500px" height="500px">
            </div>
        </div>
        <aside class="sidebar sidebar-1 container-item layout-item">
            <!--<simulation></simulation>-->
            <!--<bulk-test></bulk-test>-->
            <!--<simulation-settings></simulation-settings>-->
            <!--<develop></develop>-->
        </aside>
        <aside class="sidebar sidebar-2 container-item layout-item">    <!--Diagram Settings -->
            <tcs-ca-menu></tcs-ca-menu>
            <!--<settings></settings>-->
            <!--&lt;!&ndash;State Menu &ndash;&gt;-->
            <!--<state-menu></state-menu>-->
            <!--&lt;!&ndash;Transition Menu &ndash;&gt;-->
            <!--<transition-menu></transition-menu>-->
            <!--<credits></credits>-->
        </aside>

    </div>

</div>
