.lesys-selection {
  margin-bottom: 25px;
}

.lesys-select {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px 7px;
}

.lesys-select.selected {
  background-color: lightgray;
}

.course-nav > li.selected {
  border-bottom: 3px solid black;
}
