/**
Lessons
 */
.lesson {
  border-bottom: 1px solid #f4f4f4;
}

.lesson {
  padding: 5px 15px 5px 15px;
  color: #333;
  display: inline-block;
  width: 100%;
}

.lesson:hover {
  background-color: #f4f4f4;
}
.lesson-checkbox{
  margin:0 0 0 15px;
}
.lesson-edit{
  //display:inline-block;
  padding: 5px 15px;
}
.lesson.create-lesson a:hover{
  text-decoration:none;

}
.checkbox input[type="checkbox"], .checkbox input[type="radio"]{
  height:100%;
  width:100%;
}


.panel-right-answer{
  background-color:$brand-success;
}

.panel-selected{
  background-color:$brand-success;
}

.answer-edit{
  height:270px;
}


.quiz-answer{
  padding:5px 25px 0 40px;

}
.quiz-right-answer{
  background-color:$greenColor;
  border: 1px solid darken($greenColor,15%);
}


.lesson-question-box{
  margin:15px 15px 0 15px;

}

.lesson-question-box .content {
  padding:10px;
}