/**
Tool
 */
.create-tool-container {
  cursor: pointer;
}

.create-tool {
  font-size: 50px;
}

.panel-tool {
  height: 200px;
}

.tool-link {
  width:100%;
  padding: 15px;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.tool-link.panel-tool-show-edit {
  height:160px;
}

.tool-link:hover {
  text-decoration: none;
  color: black;
}

.tool-link:hover {
  background-color: #fcfcfc;
}

.tool-edit-container{
  height:40px;
  border-top:1px solid #f4f4f4;
  cursor:pointer;
}


.tool-edit:hover {
  background-color: #fcfcfc;
}


.panel-tool-title {

}


