<div class="lang-grammar">

    <div class="title">{{"languages.grammar.title" | translate}} {{langProductionRules.grammarType}}</div>
    <div class="content">
        <div class="stf-element" uib-tooltip="{{'languages.grammar.nonTerminal' | translate}}" tooltip-placement="right">
            V = {
            <span ng-repeat="nonTerminal in langGrammar.nonTerminals">
                <span ng-class="{'lang-simulator-grammar': nonTerminal === langSimulator.animated.currentProduction.left}">
                    {{nonTerminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="{{'languages.grammar.terminal' | translate}}" tooltip-placement="right">
            &Sigma; = {
            <span ng-repeat="terminal in langGrammar.terminals">
                <span ng-class="{'lang-simulator-grammar': terminal === langSimulator.animated.currentTerminal}">
                    {{terminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="{{'languages.grammar.productions' | translate}}" tooltip-placement="right">
            P = {
            <span ng-repeat="production in langProductionRules | orderBy:'left'">
                <span ng-class="{'lang-simulator-grammar': production === langSimulator.animated.currentProduction}"> ( {{production.left}}     &#11106;
                </span>
            <span ng-class="{'lang-simulator-grammar': production === langSimulator.animated.currentProduction}"> {{production.right}} ) {{$last ? '' : ' , '}} </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="{{'languages.grammar.start' | translate}}" tooltip-placement="right">
            S<sub>0</sub> = {
            <span ng-class="{'lang-simulator-grammar': langProductionRules.getStartRule() === langSimulator.animated.currentIsStart}">
                    {{langProductionRules.getStartRule().left}}
            </span> }
        </div>
    </div>
</div>
