<container-item titlename="as.core.diagramSettingsTitle"
                ng-show="!states.menu.edit.isOpen && !transitions.menu.edit.isOpen"
                extendable-raw="false">
    <p class="right-indextab-subtitle">
        {{'as.core.view' | translate}}
    </p>
    <div class="checkbox">
        <input type="checkbox" id="statediagram-isGrid"
               ng-model="statediagram.grid.isOpen">
        <label>{{"as.core.grid" | translate}}</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="statediagram-snapping"
               ng-model="statediagram.grid.snapping">
        <label>{{"as.core.snapping" | translate}}</label>
    </div>
</container-item>