<container-item titlename="as.core.stateMenu" ng-show="states.menu.edit.isOpen" extendable-raw="false">
    <form name="editstatemenu">
        <div class="input-group"
             ng-class="states.menu.edit.state.name.length === 0 ||
             states.existsWithName(states.menu.edit.state.name,states.menu.edit.state.id)? 'has-error':''">
            <span class="input-group-addon">{{"as.core.stateName" | translate}}</span>
            <input class="form-control" id="state-input-name" maxlength="5"
                   show-focus="states.menu.edit.state.name"
                   ng-model="states.menu.edit.state.name"
                   ng-disabled="simulator.isInPlay">
        </div>
        <div class="checkbox">
            <input type="checkbox" id="state-input-startstate"
                   ng-checked="states.selected === states.startState"
                   ng-click="states.toggleStartState(states.selected)"
                   ng-disabled="simulator.isInPlay">
            <label>{{"as.core.startState" | translate}}</label>
        </div>
        <div ng-show="automatonData.type!=='PDA'">
            <div class="checkbox">
                <input type="checkbox" id="state-input-finalstate"
                       ng-checked="states.final.isFinalState(states.selected)"
                       ng-click="states.final.toggle(states.selected)"
                       ng-disabled="simulator.isInPlay">
                <label>{{"as.core.finalState" | translate}}</label>
            </div>
        </div>
        <div class="alert alert-danger alert-transition"
             ng-show="states.menu.edit.state.name.length === 0">
            {{"as.core.stateNameTooShort"| translate}}
        </div>
        <div class="alert alert-danger  alert-transition"
             ng-show="states.existsWithName(states.menu.edit.state.name,states.menu.edit.state.id)">
            {{"as.core.stateNameAlreadyExists"| translate}}
        </div>
        <button class="btn btn-danger" ng-click="states.remove(states.menu.edit.state);states.menu.close()"
                ng-disabled="simulator.isInPlay">
            {{"core.general.delete" | translate}}
        </button>
    </form>
</container-item>