<div class="page-header">
    <h1>{{vm.module.name}}.{{vm.group.name}}</h1>
</div>
<button type="button" class="btn btn-default" ng-click="vm.createTranslation()">Create Translation</button>
<table class="table table-bordered" ng-if="vm.group.translations.length !== 0">
    <thead>
    <tr>
        <th>
            Key
        </th>
        <th>
            Default Language Value
        </th>
        <th>
            Komplett übersetzt
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="translation in vm.group.translations">
        <td>{{translation.name}}</td>
        <td>{{translation.values.de}}</td>
        <td>
            {{translation.values.length}}
            <span class="glyphicon glyphicon-ok" ng-if="vm.isTranslationComplete(translation)">
        </span>
            <span class="glyphicon glyphicon-remove" ng-if="!vm.isTranslationComplete(translation)">
        </span>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="vm.updateTranslation(translation)">Edit</button>
        </td>

    </tr>
    </tbody>
</table>