<div>
    <div class="alert alert-warning" ng-show="vm.fromOutside">
        {{'core.general.needToBeLoggedInMsg' |translate}}
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="usernameOrEmail">{{"core.users.username" | translate}}</label>
                    <input type="text" id="usernameOrEmail" name="{{'core.users.username' | translate}}" class="form-control"
                           ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>
                </div>
                <div class="form-group" show-errors>
                    <label for="password">{{'core.users.password' | translate}}</label>
                    <input type="password" id="password" name="password" class="form-control"
                           ng-model="vm.credentials.password" placeholder="{{'core.users.password' | translate}}" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">{{'core.users.signin' | translate}}</button>
                    &nbsp;{{'core.general.or' | translate}}&nbsp;
                    <a ui-sref="frontend.users.signup">{{"core.users.signup" | translate}}</a>
                </div>
                <!--<div class="text-center forgot-password">-->
                    <!--<a ui-sref="frontend.password.forgot">{{'core.users.forgotYourPassword' | translate}}</a>-->
                <!--</div>-->
                <br/>
            </fieldset>
        </form>
    </div>
</div>