<div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <div class="form-group"
                 ng-class="{ 'has-error' : !vm.usernameIsUnique || vm.userForm.username.$error.pattern}">
                <label>{{"core.users.username" | translate}}</label>
                <input type="text" id="username" name="username" class="form-control"
                       ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex"
                       ng-change="vm.isUsernameUnique()" placeholder="{{'core.users.username' | translate}}"
                       lowercase required>
                <p ng-show="vm.userForm.username.$error.pattern" class="help-block">
                    {{'core.users.validUsername' | translate}}
                </p>
                <p ng-show="!vm.usernameIsUnique" class="help-block">
                    {{'core.users.uniqueUsername' | translate}}
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : !vm.emailIsUnique || vm.userForm.email.$error.pattern}">
                <label>Email</label>
                <input type="email" id="email" name="email" class="form-control" ng-pattern="vm.emailRegex"
                       ng-model="vm.credentials.email" placeholder="Email" ng-change="vm.isEmailUnique()" lowercase
                       required>
                <p ng-show="vm.userForm.email.$error.pattern" class="help-block">
                    {{'core.users.validEmail' | translate}}
                </p>
                <p ng-show="!vm.emailIsUnique" class="help-block">
                    {{'core.users.uniqueEmail' | translate}}
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : passwordErrors.length >0}">
                <label>{{'core.users.password' | translate}}</label>
                <input type="password" id="password" name="password" class="form-control"
                       ng-model="vm.credentials.password" placeholder="{{'core.users.password' | translate}}" required>
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-primary">{{'core.users.signup' | translate}}</button>
                &nbsp; {{'core.general.or' | translate}}
                <a ui-sref="frontend.users.signin" class="show-signup">{{'core.users.signin' | translate}}</a>
            </div>
        </form>
    </div>
</div>
