<main-header></main-header>

<aside id="main-sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="frontend.home">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <span>Frontend</span>
            </a>
        </li>
        <li>
            <a ui-sref="backend.dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a ui-sref="backend.acl">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <span>Berechtigungen</span>
            </a>
        </li>
        <li>
            <a ui-sref="backend.users">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Benutzer</span>
            </a>
        </li>
        <li>
            <a ui-sref="backend.i18n.list">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <span>Translations</span>
            </a>
        </li>
    </ul>
</aside>
<div id="content-wrapper">
    <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li class="active">Dashboard</li>-->
    <!--</ol>-->
    <div ui-view></div>
</div>